.explore {
    .explore__container {
        width: 90%;
        height: 370px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .explore__item {
            width: 50%;
            height: 100%;
        }
    }
}
