.tools {
    padding-top: 120px;
    padding-bottom: 100px;
    .tools__container {
        width: 96.5%;

        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .tools__item {
            height: 273px;
            width: 23.8%;
            background-color: white;
            border-radius: 7px;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: space-around;
            align-item: center;
            flex-direction: column;
            i {
                padding-top: 30px;
                text-align: center;
                font-size: 78px;
                color: $primary-dark;
            }
            p {
                color: $primary-dark;
                font: {
                    size: 16px;
                    weight: 700;
                }
                text-align: center;
            }
            button {
                width: 100px;
                height: 33px;
                border-radius: 20px;
                background-color: $primary-light;
                color: white;
                margin: 0 auto;
                border: none;
                font-weight: 700;
                margin-bottom: 30px;
            }
            &:hover button {
                background-color: white;
                border: {
                    style: solid;
                    color: $primary-light;
                    width: 1px;
                }
            }
        }
    }
}
