.tools {
    padding-top: 120px;
    padding-bottom: 100px;
    .tools__container {
        width: 96.5%;

        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .tools__item {
            height: 273px;
            width: 23.8%;
            background-color: white;
            border-radius: 7px;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
        }
    }
}
