.vehicles {
    .vehicles__container {
        margin-top: 20px;
        h1 {
            text-align: center;
            color: $primary-dark;
            font : {
                size: 60px;
                weight: normal;
            }
        }
        .vehical_nav {
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            li {
                font: {
                    size: 14px;
                    weight: 700;
                }
                margin-left: 24px;
                margin-right: 24px;

                cursor: pointer;
                transition: all 0.4s;
                &:hover {
                    color: $primary-main;
                }
                .nav-link {
                    color: $primary-dark;
                    text-decoration: none;
                }
            }
            .active {
                color: $primary-dark;
                text-decoration: none;
                border-bottom: none;
                background-color: none;
            }
            .active_notBS {
                color: $primary-main;
                border-bottom : {
                    width: 5px;
                    color: $primary-main;
                    style: solid;
                }
            }
        }
        img {
            width: 100%;
            height: 570px;
            margin-top: 30px;
        }
    }
}
