.button{
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid $primary-main;
    word-spacing: 2px;
    color: white;
    background-color: $primary-main;
    text-align: center;
    height: 35px;
    line-height: 2px;

    &:hover{
        background-color: transparent;
        color: $primary-main;
        border: 2px solid $primary-main;
    }
}