body {
  font-family: "AvenirNext-Regular", "HelveticaNeue", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: #00324f;
}

html {
  font-size: 10px; //1rem = 10px
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
